body  
{
	background-color: lightskyblue;
} 
h1 
{
	color: blue;
	background-color: yellow;
	border: 3px dotted lightpink;
	font-family: Verdana;
}
h3 
{
	color: darkgrey;
	background-color: lightblue;
	font-family: Papyrus;
	text-align: center;
} 
p 
{
	color: hotpink;
	text-align: right;
}
table, tr, td, th
{
	border: 3px solid purple;
	border-collapse: collapse;
} 
th 
{
	background-color: black;
	color: darkred;
} 
tr:hover 
{
	background-color: peachpuff;
}
